.contact {
  display: flex;
  padding: 80px 12.5vw;
  background-color: #fdfaf6;
  min-height: 80vh;
  align-items: center;
  .container {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    min-width: 100%;
    gap: 110px;
    @include mobile {
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, fit-content(100%));
      gap: 64px;
    }
  }
  address.text {
    h1 {
      @include typo(24, "regular", $main-blue);
      text-transform: uppercase;
      margin-bottom: 64px;
      @include mobile {
        text-align: center;
      }
    }
    p {
      @include typo(18, "regular", #1d2939);
      margin-bottom: 64px;
      @include mobile {
        text-align: center;
      }
    }
    ul li {
      @include typo(16, "regular", black);
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      gap: 16px;
      @include mobile(true) {
        font-size: calc(14 / 16) + rem;
      }
    }
  }
  @include halfBar;
  @include mobile {
    @include fullBar;
    .svg-container {
      .bar-1 {
        transform: translate3d(calc(50% - 40px), 0, 0);
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    .inputContainer {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 32px;
      & + span {
        text-align: left;
        margin: -27px 0 10px 0;
        @include typo(16, "semibold", #df2020);
      }
    }
    input,
    textarea {
      padding: 20px 32px;
      @include typo(16, "regular", #406a85);
      background-color: transparent;
      border: 1px solid #9fb5c2;
      border-radius: 2px;
      outline: none;
      transition: all 0.25s;
      &:focus {
        border: 1px solid $main-blue;
        & + label {
          top: calc(-21 / 2) + px;
        }
      }
      &.error {
        box-shadow: 0 0 0 2px $main-orange;
      }
    }
    label {
      @include typo(16, "regular", #406a85);
      padding: 0 16px;
      background-color: #fdfaf6;
      top: calc(50% - unquote(calc(21 / 2) + "px"));
      left: 16px;
      max-width: 90%;
      position: absolute;
      transition: top 0.25s;
      &.active {
        top: calc(-21 / 2) + px;
      }
    }
    textarea {
      height: 260px;
      resize: none;
      & + label {
        top: 21px;
        @include mobile {
          top: 25px;
          &.active {
            top: -25px;
          }
        }
      }
    }
    .buttonContainer {
      align-self: center;
      .svg-container {
        display: none;
        padding: 0;
      }
      + span {
        text-align: center;
        margin: 20px auto -20px auto;
      }
      &.clicked {
        &.loading {
          .svg-container {
            display: flex;
          }
          .bottom-bar,
          .top-bar {
            width: 196px;
          }
          background-color: transparent;
        }
        &.success {
          cursor: default;
          button {
            cursor: default;
          }
          .svg-container {
            display: none;
          }
          background-color: $main-orange;
          .bottom-bar,
          .top-bar {
            width: 0;
          }
          &:hover button {
            letter-spacing: 0px;
          }
          + span {
            @include typo(16, "regular", $main-blue);
          }
        }
        &.error {
          + span {
            @include typo(16, "regular", $main-orange);
          }
        }
      }
    }
    @include button;
  }
}
